.deckCard{
    height: 150px;
    width: 110px;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 4rem;
    position: relative;
    background-color: white;
}

.deckCard.red{
   color: red; 
}

.deckCard.black{
    color: black;
}

.deckCard::before,
.deckCard::after{
    content: attr(data-value);
    position: absolute;
    font-size: 1.5rem;
}

.deckCard::before{
top: .2rem;
left: .5rem;
}

.deckCard::after{
bottom: .2rem;
right: .5rem;
transform: rotate(180deg);
}